*,
*::before,
*::after {
	box-sizing: border-box;
}
body {padding:1em;font-family:sans-serif;}
h1, p, a, nav {text-align:center;}
a {text-decoration:none;}
.button {display:block; border: 3px solid white; background-color:navy; color:white; padding:1em; width:100%;}
.button:hover {border:3px solid navy; padding:1em; width:100%;}
nav {display:block; width:100%; background-color:navy; color:white; font-weight:bold;}
nav a {color:white; padding:10px; }
nav a:hover {color:yellow;}
